<template>
  <div class="container max-width">
    <user-pay v-on:amount="handleAmount($event)"/>
    <div class="spinner" v-if="loading">
    </div>
    <div v-if="show">
      <app-select v-bind:paymentData="paymentMode" @paymentType="handlePaymentType($event)" v-bind:paymentCountry="paymentCountry"/>
      <div class="form-container">
        <h1 class="heading" v-if="paymentType">
          {{paymentType}}
          <span class="amount-lab">Amount: <span class="val">{{amount}}</span></span>
        </h1>
        <app-payment-form v-on:formSuccess="handleFormSuccess($event)"/>
      </div>
    </div>
    <div class="success-msg" v-if="successMsg">
        ✅ Translation Successful
    </div>
    <div class="success-msg" v-if="errorMsg">
         💔 Translation Error
    </div>
  </div>
</template>

<script>
import appSelect from '../components/appSelect';
import appPaymentForm from '../components/appPaymentForm';
import userPay from '../components/user-pay';
import axios from 'axios';

  export default {
    name: 'Home',
    data(){
      return{
        paymentMode: null,
        paymentType: '',
        paymentCountry: {},
        amount: '',
        show: false,
        successMsg: false,
        errorMsg: false,
        loading: false,
      }
    },
    created(){
    },
    methods: {
      handlePaymentType(data){
        this.paymentType = data.name;
      },
      handleAmount(data){
        this.amount = data;
        this.errorMsg = false;
        this.successMsg = false;
        if(this.amount)
        {
          this.loading = true;
          this.fetchData();
        }
        else
        {
          this.show = false;
        }
      },
      handleFormSuccess(data)
      {
        this.paymentType = "";
        this.amount = "";
        if(data)
        {
          this.errorMsg = true;
          this.show = false;
        }
        else
        {
          this.successMsg = true;
          this.show = false;
        }
      },
      fetchData()
      {
        axios.get('https://api.paymentwall.com/api/payment-systems/?key=5bf766b252951e983895acde36c3e6c6&country_code=RU&sign_version=2&sign=a38886213bd6f56716f0521cb93ea432')
        .then(result => result.data)
        .then(data => {
          this.paymentMode = data;
          this.loading = false;
          this.show = true;
        })
        .catch(e => {
          console.log('Error',e);
        })
      }
    },
    components: {
      'app-select': appSelect,
      'app-payment-form': appPaymentForm,
      'user-pay': userPay
    }
  }
</script>

<style scoped>
.container
{
  display: block;
  padding: 20px;
}
.form-container
{
  padding: 40px 20px;
  max-width: 600px;
  text-align: left;
  margin: auto;
}
.comm-lab
{
  font-weight: 600;
  font-size: 18px;
  color: #000;
  padding-bottom: 20px;
  display: block;
}
.amount-lab
{
  font-size: 14px;
  font-weight: 600;
  float: right;
}
.val
{
  color: #228be6;
}
.success-msg
{
  padding: 20px;
  font-size: 20px;
  text-align: center;
  font-weight: 600;
}
.spinner
{
  width: 50px;
  height: 50px;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-left-color: #228be6;
  animation: spin 1.2s linear infinite;
  position: fixed;
  top: 40%;
  left: 0;
  right: 0;
  margin: auto;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
</style>