<template>
  <div class="form-wrapper">
    <form>
      <div class="indiv-field">
        <label>Cardholder name</label>
        <div class="input-field">
          <input type="text" placeholder="Enter name" v-model="cardName"/>
          <div v-if="error.cardName.show" class="error-msg">{{error.cardName.msg}}</div>
        </div>
      </div>
      <div class="indiv-field">
        <label>Card number</label>
        <div class="input-field">
          <input type="text" placeholder="Enter card number" v-model="cardNumber" maxlength="16"/>
          <div v-if="error.cardNumber.show" class="error-msg">{{error.cardNumber.msg}}</div>
        </div>
      </div>
      <div class="indiv-field">
        <label>Expiration date</label>
        <div class="input-field">
          <input type="text" placeholder="MM" v-model="expMonth" class="exp" maxlength="2"/>
          <input type="text" placeholder="YY" v-model="expYear" class="exp" maxlength="2"/>
          <div v-if="error.expDate.show" class="error-msg">{{error.expDate.msg}}</div>
        </div>
      </div>
      <div class="indiv-field">
        <label>CVV</label>
        <div class="input-field">
          <input type="text" placeholder="Enter CVV number" v-model="cvv" maxlength="3"  pattern="\d*" />
          <div v-if="error.cvv.show" class="error-msg">{{error.cvv.msg}}</div>
        </div>
      </div>
      <div class="user-action">
        <button class="btn" v-on:click.prevent="handleSubmit">Submit</button>
      </div>
    </form>
  </div>
</template>

<script>
export default {
  name: "appPaymentForm",
  data() {
    return {
      cardName: "",
      cardNumber: "",
      expMonth: '',
      expYear: '',
      cvv: "",
      pay: "",
      error:{
        cardName: {
          show: false,
          msg: 'Minimum 3 characters & only characters'
        },
        cardNumber: {
          show: false,
          msg: "Please enter a valid card number. (16 digit number)"
        },
        expDate:{
          show: false,
          msg: "Please enter valid Month/Year"
        },
        cvv: {
          show: false,
          msg: 'Please enter a valid 3 Digit Number'
        },
      }
    };
  },
  methods:{
    handleSubmit(){
      var self = this;
      if(checkAll(self))
      {
        console.log('check', self.cvv==123);
        if(self.cvv==123)
        {
          this.$emit('formSuccess', true);
        }
        else
        {
          this.$emit('formSuccess', false);
        }
      }
      function nameValidation(self){
        let namePat = /[a-zA-Z]+/g;
        if(self.cardName.length > 2)
        {
          if(namePat.test(self.cardName))
          {
            self.error.cardName.show  = false;
            return true;
          }
          else
          {
            self.error.cardName.show  = true;
            return false;
          }
        }else
        {
          self.error.cardName.show  = true;
          return false;
        }
      }
      function cardNumberValidation(self){
        let numberPat = /[0-9]/g;
        if(self.cardNumber.replace(/\s/g, '').length === 16)
        {
          if(numberPat.test(self.cardNumber)){
            self.error.cardNumber.show  = false;
            return true;
          }else{
            self.error.cardNumber.show  = true;
            return false;
          }
        }
        else
        {
          self.error.cardNumber.show  = true;
          return false;
        }
      }
      function cvvValidatuon(self){
        let cvvPat = /^[0-9]{3}/g
        if(cvvPat.test(self.cvv))
        {
          self.error.cvv.show  = false;
          return true;
        }else{
          self.error.cvv.show  = true;
          return false;
        }
      }
      function expDateValidation(self)
      {
        let datePat = /^[0-9]{2}/
        if(datePat.test(self.expMonth) && datePat.test(self.expYear))
        {
          self.error.expDate.show  = false;
          return true;
        }else{
          self.error.expDate.show  = true;
          return false;
        }
      }
      function checkAll(self)
      {
        if(nameValidation(self) && cardNumberValidation(self) && cvvValidatuon(self) && expDateValidation(self))
        {
          return true;
        }
        else
        {
          return false;
        }
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.indiv-field {
  display: block;
  margin: 20px 0;
  label {
    display: inline-block;
    width: 200px;
    vertical-align: top;
  }
  .input-field
  {
    width: 300px;
    display: inline-block;
    vertical-align: top;
  }
  input {
    width: 100%;
    border-radius: 4px;
    border: 1px solid #eee;
    background: #fff;
    height: 45px;
    font-size: 14px;
    padding: 0 15px;
    transition: all 0.2s ease;
    &:focus{
      border: 1px solid #748ffc;
      outline: none;
    }
  }
  .exp
  {
    width: 100px;
    margin-right: 20px;
  }
  .error-msg
  {
    padding-top: 4px;
    color: #f03e3e;
    font-size: 12px;
  }
}
.user-action
{
  text-align: center;
}
.btn
{
  width: 300px;
  height: 45px;
  border-radius: 4px;
  border: 0;
  background: #40c057;
  text-align: center;
  padding: 0 20px;
  color: #fff;
  font-weight: 500;
  margin: auto;
  font-size: 14px;
  margin-top: 40px;
  cursor: pointer;
  display: inline-block;
  &:hover
  {
    background: #37b24d;
  }
}
.form-wrapper
{
  padding: 0 25px 20px 25px;
}
</style>