<template>
  <div class="custom-select">
    <h1 class="heading">Payment Method</h1>
    <ul>
      <li v-for="(item,index) in paymentData" :key="index" v-on:click="handleClick(item,index)" :class="{'selected':(selected===index)}">
        <img :src="item.img_url"/>
        {{item.name}}
      </li>
    </ul>
  </div>
</template>

<script>
  export default {
    name: 'appSelect',
    props:{
      paymentData:{
        type: Array,
      },
      paymentCountry:{
        type: Object,
      }
    },
    data(){
      return{
        selected: null
      }
    },
    methods:{
      handleClick(item,index){
        console.log('clicked');
        console.log(item.name);
        this.selected = index;
        this.$emit('paymentType', item);
      }
    }
  }
</script>

<style lang="scss" scoped>
.custom-select
{
  ul
  {
    list-style: none;
    background: #FFF;
    border: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 100%;
    overflow: scroll;
    margin: 0;
    padding: 0;
  }
  li
  {
    display: inline-block;
    margin: 0 20px;
    text-align: center;
    cursor: pointer;
    opacity: 1;
    padding: 20px;
    &:hover
    {
      opacity: 0.8;
      background: #f2f2f2;
    }
    img
    {
      display: block;
      margin-bottom: 10px;
    }
  }
  li:last-child
  {
    margin-right: 0;
  }
  li:first-child
  {
    margin-left: 0;
  }
  .selected
  {
    background: #f2f2f2;
  }
}
</style>