<template>
  <div>
    <h1 class="heading">User Pay</h1>
    <div class="wrapper">
      <input type="number" class="custom-input" placeholder="Amount" v-model="amount"/>
      <button class="pay-btn" v-on:click="handlePay">Pay</button>
    </div>
  </div>
</template>

<script>
export default {
  name: "userPay",
  data() {
    return {
      amount: ''
    };
  },
  methods:{
    handlePay(){
      this.$emit('amount', this.amount);
    }
  }
};
</script>

<style lang="scss" scoped>
.wrapper
{
  padding-bottom: 40px;
  margin: auto;
  max-width: 500px;
}
.custom-input {
  border-radius: 4px;
  border: 1px solid #ced4da;
  background: #fff;
  height: 45px;
  font-size: 14px;
  padding: 0 15px;
  transition: all 0.2s ease;
  display: inline-block;
  vertical-align: middle;
  margin-right: 50px;
  min-width: 300px;
  &:focus {
    border: 1px solid #748ffc;
    outline: none;
  }
}
.pay-btn
{
  width: 150px;
  height: 45px;
  border-radius: 4px;
  border: 0;
  background: #40c057;
  text-align: center;
  padding: 0 20px;
  color: #fff;
  font-weight: 500;
  margin: auto;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.5px;
  cursor: pointer;
  display: inline-block;
  line-height: 45px;
  &:hover
  {
    background: #37b24d;
  }
  &:focus
  {
    outline: none;
  }
}
</style>