<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script>

export default {
  name: 'app',
}
</script>

<style>
*
{
  box-sizing: border-box;
}
body
{
  margin: 0;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.max-width
{
  max-width: 1200px;
  margin: auto;
}
.heading
{
  font-size: 20px;
  border-bottom: 1px solid #868e96;
  margin: 0;
  padding: 0;
  line-height: 45px;
  margin-bottom: 30px;
  color: #343a40;
}
</style>
